@model Entrega.Models.Voo

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar conta</h1>

<h3>Você tem Certeza Que quer Deletar Essa Conta?</h3>
<div>
    <h4>Voo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero_Voo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero_Voo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeDestino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeDestino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CartaoDeCredito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CartaoDeCredito)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar ao Inicio de Cadastro</a>
    </form>
</div>
